version: '3'
services:
  server:
    image: template/server
    container_name: template-server
    build:
      context: ./services/server/setup
      dockerfile: Dockerfile
    env_file:
      - services/config.env
      - services/secrets.env
    ports: # host:container
      - "8000:8000"
    volumes:
      - .:/app
#    links:
#      - mongo
#      - db_postgres
#    depends_on:
#      - mongo
#      - db_postgres

#  mongo:
#    image: mongo
#    container_name: template-mongo
#    env_file:
#      - services/config.env
#      - services/secrets.env
#    volumes:
#      - ./services/mongo/setup:/docker-entrypoint-initdb.d
#      - mongo_data:/data/db
#
#  mongo_express:
#    image: mongo-express
#    container_name: template-mongo-express
#    env_file:
#      - services/config.env
#      - services/secrets.env
#    ports: #host:container
#      - "8001:8081"
#    links:
#      - mongo
#    depends_on:
#      - mongo
#    command: [ "sh", "-c", "sleep 5 && tini -s -- node app" ]

#  pgweb:
#    image: "sosedoff/pgweb"
#    container_name: template-pgweb
#    env_file:
#      - services/secrets.env
#    ports: # host:guest
#      - "9011:8081"
#    links:
#      - db_postgres
#    depends_on:
#      - db_postgres

#  db_postgres:
#    image: "postgres:latest"
#    container_name: template-db-postgres
#    env_file:
#      - services/config.env
#      - services/secrets.env
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data

#volumes:
#  mongo_data: {}
#  postgres_data: {}
